/* .container{
    width: 80vW;
    background-color: red;
    margin: 50px auto;
    display: flex;
    justify-content:space-between;
    align-items: ;
    flex-direction: row;
    padding: 0 0px;
    flex-wrap: wrap;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    background-color: white;
    border: 5px solid black;
    margin: 30px;
    
}

.child{
    background-color: blue;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
} */

/* 
ul{ 
    width: 300px;
    display: flex;
    width: 50vw;
    background-color: red;
    justify-content: space-between;
    min-width: 300px;

}

li{
    list-style-type: none;
    margin: 0px;
}

header{
    display: flex;
    width: 100vw;
    background-color: blueviolet;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
} */


header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 30px 80px;
    
}

h1{
    font-size: 70px;
    margin-right: 100px;
}

.ul1{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.imgs{
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-left: 100px;
    
}

.search{
    margin-right: 20px;
}

main{
    display: flex; 
    background-image: url(./../imgs/qalis\ poto.png);
    width: 100vw;
    height: calc(100vw / 1.5);
    background-size:cover;
    justify-content: center;
    align-items: center; 
    padding-top: 500px; 
   
}

main p{
    font-size: 40px;
}

.about-div{
    background-color: white;
    width: 706px ;
    height: 187px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(./../imgs/mwvane\ poni.png);
    width: 100%;
    height: 700px;
    
}

.our-mission{
    margin-bottom: 50px;
    font-size:40px;
}

.text-div{
   width: 30vw;
    height: 453px;
}


.text{
    color: white;
    width: 300px;
    font-size: 20px;
}

.wignis-img{
    width: 50vw;
    height: 453px;
}


.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.what-we-cover{
    margin: 100px;
    font-size: 40px;
}


.topic{
    width: 650px;
    font-size: 20px;
    color: grey;
    text-align: center;
}

.last-text{
    width: 650px;
    margin-top: 30px;
    font-size: 20px;
    color: grey;
    margin-bottom: 50px;
    text-align: center;
}

.blog{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#36413E ;
    width: 200px;
    height: 50px;
}

.go-to-the-blog{
    color: white;
}

footer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #306B34;
    color: white;
    padding-left:20px;
}

.ul2{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-left: 400px;
}